/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Srisakdi:400,700 |Montserrat:400,700,700i|Muli:300,300i,400,400i|Open+Sans:300,300i,400,400i|Play:700,400');

.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    margin: 0 0 15px;
}
html, body{
    height: 100%;
}
body {
    position: relative;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
a:hover { 
    text-decoration: none 
}

/****************
Styling of GlobalArea
*****************/
section.padding {
    padding: 100px 0;
}



/****************
Styling of countTimerArea
*****************/
#timer div {
  display: inline-block;
  line-height: 1;
  padding: 10px;
}

time {
  display: block;
  font-size: 20px;
  color: white;
}

#days {
  font-size: 50px;
  color: #db4844;
}
#hours {
  font-size: 50px;
  color: #f07c22;
}
#minutes {
  font-size: 50px;
  color: #f6da74;
}
#seconds {
  font-size: 50px;
  color: #abcd58;
}






/****************
Styling of NavbarArea
*****************/
span.logo img {
    height: 50px;
    width: 100%;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff!important;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #21B295!important;
}
li.nav-item.active .nav-link{
   color: #21B295!important;
}
nav.navbar {
    opacity: 0.9;
}
/*****navbar******/
header#heroArea {
    background: #343A40;
    color: #fff;
    padding: 125px 0 50px 0;
}
.userInfoLeft {
    padding: 100px 0;
}
.userInfoLeft h1 {
    font-size: 100px;
    line-height: 80px;
}
span.aseesEvent {
    font-size: 72px;
}

/****************
Styling of RegisterArea
*****************/
.userInfoRight {
    background: #2B2B2B;
    text-align: center;
}

.row.bgUser {
   background: #2B2B2B;
}

.row.titleSponsor {
    background: linear-gradient(to right, #F71111, #FF731C);
    padding: 30px 0;
}
.row.titleSponsor h2.heading {
    font-size: 70px;
    font-family: 'Srisakdi', cursive;
    font-weight: 400;
    padding-top: 50px;
}

.row.titleSponsorFooter {
    background: #fff;
    color: #000;
    padding: 10px 0;
}
.userIcon {
    position: relative;
    padding: 20px;
}

.userIcon svg:not(:root).svg-inline--fa {
    font-size: 40px;
}
span.Seats {
    font-size: 25px;
    float: right;
    margin-left: -50px;
    margin-top: -10px;
    padding-right: 35px;
}
span.Seats p {
    font-size: 10px;
}
.userIcon p {
    font-size: 16px;
}

.stick:after {
    border-right: 1px solid #fff;
    height: 40%;
    padding-top: 25px;
    content: "";
    top: 35px;
    position: absolute;
    left: 0;
}

/****************
Styling of aboutArea
*****************/
mark {
    color: red;
    background: transparent;
}
a.explor {
    color: red;
    text-decoration: none;
}
a.explor:hover {
    color: #000;
}
.aboutBottom {
    padding: 60px 0;
    background: #F3F3F3;
}
.card{
    background: #F3F3F3;
    border: none;
    color: #35393C;
}

/*********************
Styling of speakersArea
**********************/
section#speakers{
    background-image: url(../img/speaker/speaker-bottom.png);
    background-position: left;
    background-repeat: no-repeat;
}
.bgImg{
    background-image: url(../img/speaker/speaker-top.png);
    background-position: right;
    background-repeat: no-repeat;
}

.singleSpeakerBg{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center top;
    height: 300px;
    width: 100%;
    background-color: #2C333B;
    border: 1px solid;
}

.singleSpeaker:hover .singleSpeakerBg {
    background-image: linear-gradient(to right, #F71111, #FF731C);
}

.single-speaker-hover li {
    display: inline-block;
    background: #fff;
    border-radius: 50px;
    line-height: 33px;
    height: 35px;
    width: 35px;
}

.single-speaker-hover li a i:hover {
    color: #03AEE6;
    background: #fff;
}

.speaker-plus-sing {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 35px;
    line-height: 45px;
    width: 35px;
    background: #fff;
    text-align: center;
    border-radius: 38px 0px 0px 0px;
    color: #03A9F4;
    font-size: 10px;
}

.speaker-info h3 {
    font-size: 14px;
    margin-top: 11px;
    color: #313131;
    font-weight: 600;
}

.speaker-info h3 span {
    display: block;
    font-size: 10px;
    font-weight: 400;
}

.single-speaker-hover {
    opacity: 0;
    z-index: 0;
    visibility: hidden;
}

.singleSpeakerBg:hover .single-speaker-hover {
    opacity: 1;
    z-index: 1;
    visibility: visible;
}


/****************
Styling of exhibitorDropArea
*****************/
section#exhibitorDrop{
    background: #281E9E;
    color: #fff;
    padding: 55px 0 40px 0;
}
a.btn {
    position: relative;
    border: 1px solid #b9a8a8;
    color: #fff;
    padding: 10px 30px;
    margin-top: 30px;
    display: inline-block;
    text-shadow: 1px 1px #b9b98c;
}
a.btn:after{
    position: absolute;
    top: -5px;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #b9a8a8;
    content: '';
}

/****************
Styling of partnerArea
*****************/
.companyLogo img {
    height: 50px;
    width: 150px;
    margin: 38px;
}




/****************
Styling of pertshipDeckArea
*****************/
section#pertshipDeck{
    background: #000000;
    color: #fff;
    padding: 55px 0 40px 0;
}




/****************
Styling of scheduledArea
*****************/
section#scheduled{
    
}
section#scheduled .nav-tabs {
    position: relative;
}
a#nav-home-tab:after {
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    width: 70px;
    margin-left: -45px;
    content: "";
    background-image: linear-gradient(to left, #ef0909, #FDC);
}
a#nav-profile-tab:after{
    position: absolute;
    left: 32%;
    top: 50%;
    height: 1px;
    width: 51px;
    margin-left: -85px;
    content: "";
    background-image: linear-gradient(to left, #ef0909, #FDC);
}
a#nav-contact-tab:after{
    position: absolute;
    right: 51%;
    top: 50%;
    height: 1px;
    width: 52px;
    margin-left: -85px;
    content: "";
    background-image: linear-gradient(to right, #ef0909, #FDC);
}
a#nav-contact-tab:before{
    position: absolute;
    right: 29%;
    top: 50%;
    height: 1px;
    width: 52px;
    margin-left: -85px;
    content: "";
    background-image: linear-gradient(to right, #ef0909, #FDC);
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link{
    border: 1px solid #c31818;
    background: #fff;
    color: #000;
    border-radius: 50px;
    margin: 25px;
    padding: 4px 10px;
}
div#nav-tab {
    border-bottom: none;
}
.tab1 {
    border: 1px solid #A8A8A8;
    margin-top: 10px;
    padding: 30px;
    border-left: 1px solid red;
    box-shadow: 0 0 3px #ddd;
}
.tab1:after {
    position: absolute;
    left: 4px;
    top: 50%;
    background: red;
    height: 20px;
    width: 20px;
    content: "";
    border-radius: 50px;
    border: 1px solid red;
}
h5.room{
    background-image: linear-gradient(to right, #ef0909, #FDC);
    height: 35px;
    width: 115px;
    position: absolute;
    left: 15px;
    top: 11px;
    padding: 4px;
}
.timing {
    float: right;
    font-weight: 700;
}
span.timeSet {
    color: red;
    font-weight: 400;
    font-size: 12px;
    float: right;
}
span.clock {
    color: red;
    float: right;
}
span.circle {
    background: red;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 25%;
    right: 20%;
    border-radius: 50px;
}
span.circle1 {
    background: red;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 25%;
    right: 30%;
    border-radius: 50px;
}
h5.david {
    color: #FF8078;
}



/****************
Styling of pageArea
*****************/
section#page{
    background: #ddd;
}
.titleComment, a {
    color: #969595;
}
.item h4 {
    font-size: 15px;
    color: #313131;
    font-weight: 600;
    margin: 10px 0;
}
.titleComment a {
    text-decoration: none;
}
.titleComment a:hover {
    color: #ff731c;
}
section#page h1.heading {
    padding-bottom: 25px;
}


/****************
Styling of venueArea
*****************/
.map {
    position: relative;
}
.cta {
    position: absolute;
    top: -212px;
    right: -40px;
    background: linear-gradient(to right, #F71111, #FF731C);
    height: 150px;
    width: 290px;
    color: #fff;
    padding: 25px 30px;
}


/****************
Styling of footerTopArea
*****************/
section#footerTop {
    background: #313131;
    color: #fff;
}

.logoFooter ul li {
    display: inline-block;
    padding: 10px;
}

.logoFooter ul li a {
    color: #4d4d65;
    font-size: 20px;
}
.logoFooter ul li a:hover {
    color: #554aec;
}
button.btn {
    background: linear-gradient(to right, red, yellow);
    color: #000;
    border-radius: 0px 2px 2px 0;
}
.form-group input[type='email'] {
    background: #4a4a4a;
    padding: 8px 13px;
    border-radius: 2px 0px 0px 2px;
    border: none;
}
.form-group button[type='submit'] {
    background-image: linear-gradient(to right, red, yellow);
    border: none;
    padding: 8px 17px;
    margin-left: -3px;
    border-radius: 0px 2px 2px 0;
    cursor: pointer;
}
/****************
Styling of footerBottomArea
*****************/
section#footerBottom{
     background: #313131;
    border-top: 1px solid #fff;
    color: #6b6b6b;
    padding-top: 10px;
}

/****************
Styling of scrollUpArea
*****************/
